APP_DB_NAME=db
APP_DB_USER=db_user
APP_DB_PASSWORD=replace-with-a-strong-password

AIRFLOW_DB_NAME=airflow_db
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=replace-with-a-strong-password

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=replace-with-a-strong-password
